# build directory
build

# binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# test binary, built with `go test -c`
*.test

# output of the go coverage tool, specifically when used with LiteIDE
*.out

# go workspace file
go.work
go.work.sum

# env file
.env
